body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #001e4d;
    margin: 0;
}

#quiz-container {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}
.btn-container {
    display: flex;
    flex-direction: column;
}

button {
    margin: 5px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #ddd;
}

#questions-list {
    margin-top: 20px;
    text-align: left;
}

#add-question-form {
    display: none;
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px;
    text-align: center;
    margin-top: 20px;
}

#add-question-form input {
    margin: 5px;
    padding: 10px;
    width: calc(100% - 22px);
    border: 1px solid #ccc;
    border-radius: 5px;
}